In [1]:
import pandas as pd 
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [25]:
emp=pd.Series(['Dharshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'Id':id}
result=pd.DataFrame(frame)
print("\n Series to Data Frame:\n")
print(result)
print("\n Extracting new columns:\n")
print(result['Emp'])
print("\nAdding new columns:\n")
result['ID']=pd.Series([80,90,28,56,70])
result["age"]=pd.Series([28,32,47,52,61])
print(result)
print("\nDeleting new columns:\n")
del result['age']
print(result)
print("\nExcatacting the second Row:\n")
print(result.loc[1])
print("Slice rows:\n",result[1:4])
d2=pd.DataFrame([['Vicky',100],['Rashid',110]],columns=['Emp','ID'])
print("\n Adding new row values:\n,pd.cocat([result,d2])")
print("\n Deletinig particular row:\n",result[1:4])

 Series to Data Frame:

         Emp  Id
0   Dharshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

 Extracting new columns:

0     Dharshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

Adding new columns:

         Emp  Id  ID  age
0   Dharshan  80  80   28
1     Sudeep  90  90   32
2       Siva  28  28   47
3       Yash  57  56   52
4  Keerthana  49  70   61

Deleting new columns:

         Emp  Id  ID
0   Dharshan  80  80
1     Sudeep  90  90
2       Siva  28  28
3       Yash  57  56
4  Keerthana  49  70

Excatacting the second Row:

Emp    Sudeep
Id         90
ID         90
Name: 1, dtype: object
Slice rows:
       Emp  Id  ID
1  Sudeep  90  90
2    Siva  28  28
3    Yash  57  56

 Adding new row values:
,pd.cocat([result,d2])

 Deletinig particular row:
       Emp  Id  ID
1  Sudeep  90  90
2    Siva  28  28
3    Yash  57  56

In [ ]:
import pandas as pd
import numpy as np
print("Dataframe.applyfunction:\n")
info=pd.Dataframe([])